#footer {
    background-color: #2e2f42;
}
.web {
    color: #4D5AE5;
}
.main-title-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #f4f4fd;
    line-height: 1,33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
#footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}